<div class="container">

  <%= render "form" , redirection: @dynamic_redirection%>
  <p><%= link_to dynamic_redirection_path, method: :delete, data: { confirm: "Are you sure?" } do %>
    <h2 button type="button" class="btn btn-danger mt-3">Delete partner</h2></button>
  <% end %></p>
  
  <%= @svg.html_safe %><br/>
  <%= @qr_string %>
  <p><%= @dynamic_redirection.destination %></p>

</div>
